// utils
@import "./utils/_colors.scss", "./utils/mixin", "./utils/helpers";

// base
@import "./base/_reset", "./base/_typography", "./base/animation";

// layout
@import "./layout/_header", "./layout/_searchDoctor", "./layout/_findDoctormini",
   "./layout/footer";

// components
@import "./components/buttons";

// pages
@import "./pages/hero", "./pages/_popular", "./pages/_findright",
   "./pages/_whyyou", "./pages/_meet", "./pages/_feedback", "./pages/subsribe";

@import "./utils/responsive";
#go-to-top {
   position: fixed;
   z-index: 102;
   right: 10px;
   bottom: 10px;

   width: 4rem;
   height: 4rem;
   display: flex;
   justify-content: center;
   align-items: center;

   opacity: 0;
   border-radius: 50%;
   background-color: var(--header-gradient-color-2);
   cursor: pointer;
   transition: 0.5s;
}
