// loader animation
.pre-loader {
   position: fixed;
   z-index: 101;
   height: 100vh;
   width: 100vw;

   background-color: var(--header-gradient-color-1);
   background-image: url("../../assets/imgs/heartbeat.gif");
   background-position: center;
   background-repeat: no-repeat;

   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 3rem;
}
.pre-loader-hidden {
   animation: loaderAnimate 1s ease-in-out;
   transform: translateX(100%);
}
@keyframes loaderAnimate {
   0% {
      transform: translateX(0%);
   }
   50% {
      transform: translateX(-10%);
   }
   75% {
      transform: translateX(0%);
   }
   100% {
      transform: translateX(100%);
   }
}

.link-animation {
   position: relative;
   z-index: 2;
   transition: color 0.3s ease-in-out;
   &:hover {
      color: var(--white-color) !important;
   }
}
.link-animation::before {
   content: "";
   position: absolute;
   z-index: -1;
   width: 110%;
   height: 100%;
   padding: 5px;
   border-radius: 4px;
   background-color: var(--primery-blue-dark);

   bottom: 0px;
   left: -5%;

   transform-origin: right;
   transform: scaleX(0);
   transition: transform 0.3s ease-in-out;
}

.link-animation:hover::before {
   transform-origin: left;
   transform: scaleX(1);
}
.link-animation:active::before {
   background-color: var(--primery-blue);
}

// observer ----------
.active-animation {
   transform: translateX(0rem) !important;
   opacity: 1 !important;
}
