.header {
   &-container {
      background-color: var(--header-gradient-color-1);
      position: fixed;
      z-index: 101;
      width: 100%;
      display: flex;
      justify-content: center;
      transition: 0.3s;
      padding: 2rem 0rem;
   }
   @include flex-v-center;
   justify-content: space-between;
   color: var(--primery-blue-dark);
   font-weight: bold;
   &__left {
      @include flex-v-center;
      gap: 2rem;

      &__img {
         width: 12rem;
         margin-right: 3rem;
      }
      ul {
         @include flex-v-center;
         gap: 2rem;
      }
   }

   &__right {
      @include flex-hv-center;
      gap: 2rem;
   }
}
.header-scroll {
   background-color: hsla(218, 83%, 93%, 0.564);
   padding: 1rem 0rem !important;
   transition: 0.5s;
}

// $stroke-color: #718588;

#hamburger {
   background-color: transparent;
   border: none;
   cursor: pointer;
   display: none;
   padding: 0;

   .line {
      fill: none;
      stroke: var(--primery-blue);
      stroke-width: 5;
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
         stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);

      &1 {
         stroke-dasharray: 60 207;
         stroke-width: 5;
      }
      &2 {
         stroke-dasharray: 60 60;
         stroke-width: 5;
      }
      &3 {
         stroke-dasharray: 60 207;
         stroke-width: 5;
      }
   }
   &.open .line {
      &1 {
         stroke-dasharray: 90 207;
         stroke-dashoffset: -134;
         stroke-width: 6;
      }
      &2 {
         stroke-dasharray: 1 60;
         stroke-dashoffset: -30;
         stroke-width: 6;
      }
      &3 {
         stroke-dasharray: 90 207;
         stroke-dashoffset: -134;
         stroke-width: 6;
      }
   }
}

// 848px
@media only screen and (max-width: 53em) {
   #hamburger {
      display: flex;
   }
   .header__links a:last-of-type {
      display: none;
   }
}

// 600
@media only screen and (max-width: 37.5em) {
   .header__right {
      width: 90%;
      & a {
         font-size: 1.4rem;
      }
   }
}

// 528
@media only screen and (max-width: 33em) {
   .header__right {
      width: 5rem;
      & a {
         display: none;
      }
   }
}
