.header {
   &-container {
      background-color: var(--header-gradient-color-1);
      position: fixed;
      z-index: 101;
      width: 100%;
      display: flex;
      justify-content: center;
      transition: 0.3s;
      padding: 2rem 0rem;
   }
   @include flex-v-center;
   justify-content: space-between;
   color: var(--primery-blue-dark);
   font-weight: bold;
   &__left {
      @include flex-v-center;
      gap: 2rem;

      &__img {
         width: 12rem;
         margin-right: 3rem;
      }
      ul {
         @include flex-v-center;
         gap: 2rem;
      }
   }

   &__right {
      @include flex-hv-center;
      gap: 2rem;
   }
}
.header-scroll {
   background-color: hsla(218, 83%, 93%, 0.564);
   padding: 1rem 0rem !important;
   transition: 0.5s;
}
