.find-right {
   background-color: var(--white-color);
   padding: 8rem 0rem;

   &-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));

      gap: 5rem;
      align-items: center;
      justify-content: center;
   }
   &__left {
      display: flex;
      flex-direction: column;
      gap: 3rem;
   }
   &__header {
      font-size: 3.6rem;
      color: var(--primery-blue-dark);
      &-sec {
         font-size: 1.6rem;
         color: var(--gray-color);
      }
   }
   &-guide {
      display: flex;
      // flex-direction: column;
      &-container {
         display: flex;
         flex-direction: column;
         gap: 1rem;
      }
      gap: 2rem;
      &--icon {
         display: flex;
         flex-direction: column;
         align-items: center;

         &-c {
            @include flex-hv-center;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            font-size: 2rem;
            padding: 1rem;
            color: var(--primery-blue);
            background-color: #eeedfd;

            &-last {
               background-color: #b3ffd4;
               color: #0ba514;
            }
         }
         &-b {
            @include flex-hv-center;
            margin-top: 1rem;
            width: 2px;
            height: 50px;
            border-right: 2px solid var(--light-gray-color);
         }
      }

      &--wrapper {
         display: flex;
         flex-direction: column;
         gap: 1rem;
         &-header {
            font-size: 2rem;
         }
         &-text {
            font-size: 1.4rem;
            color: var(--gray-color);
            width: 35rem;
         }
      }
   }
   &__right {
      position: relative;
      @include flex-hv-center;
      img {
         position: absolute;
         width: 55rem;
         max-width: 70rem;
      }
   }
}
