// 500px
@media only screen and (max-width: 31.25em) {
   .popular__card {
      gap: 1rem;
      font-size: 1.6rem;
      text-align: center;
   }
   .popular__items-container {
      gap: 1rem;
   }
   .popular__header {
      text-align: center;
   }

   .find-right-container {
      gap: 25rem;
      padding-bottom: 17rem;
      grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
   }
   .find-right__header {
      font-size: 3rem;
   }

   .find-right__right img {
      width: 36rem;
      opacity: 0.6;
   }
   .find-doctor-form {
      left: 50%;
   }
   .find-right-guide--wrapper-text {
      width: 25rem;
   }

   .find-right-container {
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
   }

   .why-you {
      padding-bottom: 3rem;
   }
   .why-you__left img {
      width: 30rem;
   }

   .why-you > .container {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   }
   .why-you__right__header {
      text-align: center;
   }
   .why-you-btn {
      @include flex-hv-center;
   }

   // ------
   .meet__header-sub {
      text-align: center;
      width: 80%;
   }
   .meet__doctors-container {
      width: 90%;
   }

   // -----
   .feedback__header {
      text-align: center;
   }
   .feedback__header-sub {
      width: 90%;
   }
   .feedback__main-left {
      padding: 2rem;
   }
   .feedback__main-right {
      padding: 5rem;
   }
   // -------
   .subscribe {
      padding: 5rem;
   }
   .subscribe-container {
      width: 100%;
      padding: 2rem;
   }
   .subscribe__header {
      width: 100%;
      font-size: 3rem;
   }
   .subscribe__input-container {
      display: flex;
      flex-direction: column;
      width: 100%;
   }
   // footer
   .footer {
      justify-items: center;
      width: 100%;
      gap: 4rem;
   }
}
